  .bookmark
    form
      .bookmark__list-box
        h1.bookmark__title
          $title
        .bookmark__list
          $list
      .bookmark__add-box
        input.bookmark__add-text(type="text" value="http://javascript.ru")
        button.bookmark__add-btn.btn Добавить

